{% extends 'base.html' %}
{% block content %}
<h1>Form Hi</h1>
<form method="Post">
    {{ form.hidden_tag() }}
    {{ form.phantom_scratching.label( class="form-label") }}
    {{ form.phantom_scratching( class="form-control") }}
    {{ form.scratching_behind_head_or_ears.label( class="form-label") }}
    {{ form.scratching_behind_head_or_ears( class="form-control") }}
    {{ form.vocalization.label( class="form-label") }}
    {{ form.vocalization( class="form-control") }}
    {{ form.spinal_pain.label( class="form-label") }}
    {{ form.spinal_pain( class="form-control") }}
    {{ form.activity.label( class="form-label") }}
    {{ form.activity( class="form-control") }}
    {{ form.stairs_jumping.label( class="form-label") }}
    {{ form.stairs_jumping( class="form-control") }}
    {{ form.behavior_change.label( class="form-label") }}
    {{ form.behavior_change( class="form-control") }}
    {{ form.sleep.label( class="form-label") }}
    {{ form.sleep( class="form-control") }}
    {{ form.other_pain_behaviors.label( class="form-label") }}
    {{ form.other_pain_behaviors( class="form-control") }}
    {{ form.possibly_unrelated_behavior.label( class="form-label") }}
    {{ form.possibly_unrelated_behavior( class="form-control") }}
    {{ form.neurological_abnormalities.label( class="form-label") }}
    {{ form.neurological_abnormalities( class="form-control") }}
    
    <br/>
    <br/>
    <br/>
    {{ form.submit( class="btn btn-primary") }}
</form>
{% endblock %}