{% extends 'base.html' %}
{% block content %}
<html>
    <body>
        <p>
            <h4>What is Chiari-like malformation and syringomyelia?</h4>
        </p>
        <p>
            <h6>Chiari-like malformation alters the flow of cerebrospinal fluid between the skull and spinal column resulting in a collection of fluid pockets (singular: syrinx, plural: syringes) within the spinal cord. Descriptively known as syringomyelia (Sih-rin-go-my-ee-lee-a).</h6>
        </p>
    </br>
        <p>
            <h4>What causes Chiari-like malformation and syringomyelia?</h4>
        </p>
        <p>
            <h6>A Chiari malformation is a developmental abnormality whereby there is a difference in growth between the size of the brain (too large) and the skull (too short). Generally speaking, the skull cavity is too short and the back part of the brain (brainstem and cerebellum) gets pushed into the hole at the back of the skull and obstructs the flow of the cerebrospinal fluid.</h6>
        </p>
    </br>
        <p>
            <h4>What breeds are affected by Chiari-like malformation and syringomyelia?</h4>
        </p>
        <p>
            <h6>Chiari-like malformation and syringomyelia are most commonly reported in brachycephalic (short-head/faced) toy breeds. The condition is most commonly reported in Cavalier King Charles Spaniels (CKCS), King Charles Spaniels, Griffon Bruxellois, Affenpinschers, Yorkshire Terriers, Maltese, Chihuahuas, Pomeranians, Boston Terriers, Papillons, French Bulldogs and Pugs.</h6>
        </p>
        <wrapper>
            <img src="/static/images/cavalier_king_charles_spaniel.jpg", class="dogs_images" , alt="Italian Trulli">
            <p>Cavalier King Charles Spaniel</p>
        </wrapper>
    </body>
</html>
{% endblock %}