{% extends 'base.html' %}
{% block content %}
Background: Diagnosis of Chiari-like malformation-associated pain (CM-P) or clinically
relevant syringomyelia (SM) is challenging. We sought to determine common signs.
Animals: One hundred thirty client-owned Cavalier King Charles spaniels with neuroaxis
magnetic resonance imaging (MRI) and diagnosis of CM-P/SM. Dogs with comorbidities
causing similar signs were excluded with exception of otitis media with effusion (OME).
Methods: Retrospective study of medical records relating signalment, signs, and MRI
findings. Dogs were grouped by SM maximum transverse diameter (1 = no SM;
2 = 0.5-1.99 mm; 3 = 2-3.9 mm: 4 = ≥4 mm). Differences between all groups—groups
1 versus 2-4 and groups 1-3 versus 4—were investigated. Continuous variables were
analyzed using 2-sample t-tests and analysis of variance. Associations between categorical
variables were analyzed using Fisher's exact or chi-square tests.
Results: Common signs were vocalization (65.4%), spinal pain (54.6%), reduced activity
(37.7%), reduced stairs/jumping ability (35.4%), touch aversion (30.0%), altered
emotional state (28.5%), and sleep disturbance (22%). Head scratching/rubbing
(28.5%) was inversely associated with syrinx size (P = .005), less common in group
4 (P = .003), and not associated with OME (P = .977). Phantom scratching, scoliosis,
weakness, and postural deficits were only seen in group 4 (SM ≥4 mm; P = .004).
Conclusions and Clinical Importance: Signs of pain are common in CM/SM but are
not SM-dependent, suggesting (not proving) CM-P causality. Wide (≥4 mm) SM is
associated with signs of myelopathy and, if the dorsal horn is involved, phantom
scratching (ipsilateral) and torticollis (shoulder deviated ipsilateral; head tilt
contralateral).
{% endblock %}