{% extends 'base.html' %}
{% block content %}

    <h1>Register</h1>
    <form method="Post">
        {{ form.hidden_tag() }}
        {{ form.username.label( class="form-label") }}
        {{ form.username( class="form-control") }}
        {{ form.email.label( class="form-label") }}
        {{ form.email( class="form-control") }}
        {{ form.password.label( class="form-label") }}
        {{ form.password( class="form-control") }}
        {{ form.password2.label( class="form-label") }}
        {{ form.password2( class="form-control") }}
        {{ form.dogs_name.label( class="form-label") }}
        {{ form.dogs_name( class="form-control") }}
        {{ form.dogs_breed.label( class="form-label") }}
        {{ form.dogs_breed( class="form-control") }}
        {{ form.dogs_dob.label( class="form-label") }}
        {{ form.dogs_dob( class="form-control") }}
        {{ form.dogs_sex.label( class="form-label") }}
        {{ form.dogs_sex( class="form-control") }}
        {{ form.dogs_neutered.label( class="form-label") }}
        {{ form.dogs_neutered( class="form-control") }}
        {{ form.submit( class="btn btn-primary") }}

    </form>



{% endblock %}